header {
  /* background-image: url(https://scontent.fspd5-1.fna.fbcdn.net/v/t39.30808-6/299382806_622126075935236_8753079635902370854_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGEfXFK8CRkSNHv_MgTxI2ioMA6Czn9AaKgwDoLOf0BomkhR0MLQxbLXfBgcenbss0b3HbslzRY-wWYGMgkrVjS&_nc_ohc=TQGNNTjG6AgAX9DLWWh&_nc_ht=scontent.fspd5-1.fna&oh=00_AT93vPlS7U-YCBTke4Dh5ca8xQlcyt68l78KmHH8fsEt-w&oe=63090127); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://scontent.fspd5-1.fna.fbcdn.net/v/t39.30808-6/299382806_622126075935236_8753079635902370854_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGEfXFK8CRkSNHv_MgTxI2ioMA6Czn9AaKgwDoLOf0BomkhR0MLQxbLXfBgcenbss0b3HbslzRY-wWYGMgkrVjS&_nc_ohc=TQGNNTjG6AgAX9DLWWh&_nc_ht=scontent.fspd5-1.fna&oh=00_AT93vPlS7U-YCBTke4Dh5ca8xQlcyt68l78KmHH8fsEt-w&oe=63090127);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
